script(src = '/javascript/candybar.js')
link(rel="stylesheet", href="/stylesheets/candybar.css")
script(src = '/javascript/dialpad.js')
link(rel="stylesheet", href="/stylesheets/dialpad.css")

#skelPage(data-role='page', data-theme='a')
  include header.jade
          
  div(data-role='content')
    h2 Welcome to Candy Bar Node!
    p
      | Your phone number is 
      span#selfnumber
    #dialer

  include footer.jade

include about.jade

script

  var accessToken = "#{accessToken}";
  var selfNumber = "#{selfNumber}";
  var version = "#{version}";

  $('.candybar').addClass('ui-btn-active ui-state-persist');

  var att;
  var call;

  $( '#skelPage' ).live( 'pageinit',function(event){
    console.log("pageinit ready");
    att = $.att({
      version: version,
      apiKey: accessToken,
      onReady: function() {
        console.log("att on ready...");
        $("#selfnumber").html(selfNumber);
        var cb = new CandyBar({'phone' : att});
        cb.render();
        // init our dialpad
        var dialpad = new Dialpad({
          // when the "call" button is clicked
          // on the dialer, dial our phone.
          onCall: function (number, dialable) {
            att.phone.dial(number);
          }
        });
        $('#dialer').html(dialpad.render());
      },
      onUnready: function() {
        console.log("att disconnected...");
      },
      // Phone API Configuration
      phone: {
        // Event Handlers
        onIncomingCall: function(event) {
          call = event.call;
          console.log("Incoming Call: " + call.id);
          call.bind({ 
            onHangup: function(event) { 
              console.log("Hangup Call...");
            }, 
            onError: function(event) { 
              alert("Incoming call error:" + event); 
            }
          });
          // Prepare to answer the call
          var rNum = event.call.initiator;
          var match = rNum.match(/[0-9]+/);
          if (match.length > 0)
            rNum = match[0];
          rNum = formatPhone(rNum);
        },
        onError: function(event) {
          console.log("Phone error: " + e.reason);
        }
      }
    });
  });

  $("#call").click(function(event) {
    
    var number = $("#remote_number").val();
    call = att.phone.dial(number, {
      onRing: function() {
      },
      onAnswer: function() {
      },
      onHangup: function() {
        console.log("Hangup Call...");
      },
      onError: function() {
        console.log("Call Error");
      }
    });
  });

  $("#answer").click(function(event) {
    console.log("Answer Call...");
    call.answer();
  });

  $("#reject").click(function(event) {
    console.log("Reject Call: " + call.id);
    call.hangup();
  });

  $("#hangup").click(function(event) {
    console.log("Hangup Call...");
    call.hangup();
  });

  $("#hold").click(function(event) {
    console.log("Hold Call...");
    call.hold(true);
  });

  $("#retrieve").click(function(event) {
    console.log("Retrieve Call...");
    call.hold(false);
  });

  $("#transfer").click(function(event) {
    var number = $("#transfer_number").val();
    call.hold(true);
    call.transferto(number);
  });

  $("#logout-btn").bind('click', function(e) {
    att.disconnect();
    $.mobile.changePage("logout");
  });


